body {
background-color: #EAF6F6;
     }

h3 {
  color: #66BFBF
}

h1 {
  color: #66BFBF
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  height: 6px;
  width: 60px;
}

img {
  border-radius: 50%;
}
